
edx-platform/lms/templates/_notes/dwsync.xml

edx-platform/lms/templates/course_groups/_notes/dwsync.xml

edx-platform/lms/templates/courseware/_notes/dwsync.xml


edx-platform/cms/templates/_notes/dwsync.xml

edx-platform/cms/templates/widgets/_notes/dwsync.xml
