
edx-platform/lms/templates/_notes/dwsync.xml

edx-platform/lms/templates/course_groups/_notes/dwsync.xml

edx-platform/lms/templates/courseware/_notes/dwsync.xml


edx-platform/cms/templates/_notes/dwsync.xml

edx-platform/cms/templates/widgets/_notes/dwsync.xml

edx-platform/lms/templates/wiki/_notes/dwsync.xml

edx-platform/cms/static/fonts/OpenSans/_notes/dwsync.xml

_notes/dwsync.xml

edx-platform/lms/static/images/_notes/dwsync.xml

edx-platform/lms/static/images/bulk_email/_notes/dwsync.xml

edx-platform/lms/templates/static_templates/_notes/dwsync.xml

edx-platform/cms/static/_notes/dwsync.xml

edx-platform/cms/static/images/edx-theme/_notes/dwsync.xml

edx-platform/cms/static/sass/_notes/dwsync.xml

edx-platform/lms/templates/wiki/includes/_notes/dwsync.xml

edx-platform/lms/templates/wiki/includes/_notes/dwsync.xml

edx-platform/lms/templates/wiki/includes/_notes/dwsync.xml

edx-platform/lms/templates/wiki/includes/_notes/dwsync.xml

edx-platform/lms/templates/wiki/includes/_notes/dwsync.xml

edx-platform/lms/templates/wiki/includes/_notes/dwsync.xml

edx-platform/lms/templates/wiki/includes/_notes/dwsync.xml

edx-platform/lms/templates/wiki/includes/_notes/dwsync.xml

lms.env_ori.json

edx-platform/lms/templates/courseware/courses_old.html

edx-platform/cms/static/sass/elements/_notes/dwsync.xml

*.xml

edx-platform/lms/static/images/edx-theme/_notes/dwsync.xml

edx-platform/lms/static/images/edx-theme/_notes/dwsync.xml

edx-platform/lms/static/images/social/_notes/dwsync.xml
