## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <img src="${static.url('themes/default/images/OpenEdXLogo.png')}" height="50" alt="Home Page" />
</%block>


<%block name="navigation_global_links">
    <li class="nav-global-01">
    	<a href="${marketing_link('FAQ')}">${_("FAQ")}</a>
    </li>
    <li class="nav-global-02">
 		<a href="#">${_("Courses")}</a>
    </li>
	<li class="nav-global-03">
    	<a href="#">${_("Schools")}</a>
	</li>
</%block>


