<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("FAQ")}</h1>
<h4>Qui peut suivre les cours d&rsquo;EDU<em>lib</em>?</h4>
<p>Les cours d&rsquo;EDU<em>lib</em> sont ouverts &agrave; tous. Ils s'adressent donc &agrave; tous ceux qui sont d&eacute;sireux de parfaire leurs connaissances.</p>

<h4>Est-ce de vrais cours universitaires?</h4>
<p>Oui, il s'agit de cours de niveau universitaire. Bien que les cours se donnent en ligne, la mati&egrave;re et la rigueur demeurent les m&ecirc;mes que dans les cours habituels des institutions participantes. On s&rsquo;attend donc &agrave; ce que les participants consacrent entre trois et six heures de travail personnel par semaine au cours (&eacute;coute des vid&eacute;os, lectures compl&eacute;mentaires, exercices et tests).</p>

<h4>Y aura-t-il une attestation?</h4>
<p>Oui. Tous ceux qui r&eacute;ussiront les exercices et les examens pr&eacute;vus par le professeur dans les d&eacute;lais impartis recevront par courriel une attestation en format pdf indiquant qu&rsquo;ils ont r&eacute;ussi un cours d&rsquo;EDU<em>lib</em>. L&rsquo;attestation sera libell&eacute;e au pr&eacute;nom et nom que vous nous aurez fournis lors de l&rsquo;inscription.</p>

<h4>Si je r&eacute;ussis les cours, pourrai-je par la suite obtenir des cr&eacute;dits universitaires des institutions participantes?</h4>
<p>Non, les cours r&eacute;ussis dans le cadre d&rsquo;EDU<em>lib</em> ne seront pas reconnus pour l&rsquo;obtention de cr&eacute;dits universitaires. Les institutions participantes ne donnent des cr&eacute;dits qu&rsquo;aux &eacute;tudiants inscrits dans leurs programmes r&eacute;guliers.</p>

<h4>Comment puis-je m&rsquo;inscrire?</h4>
<p>Pour acc&eacute;der aux cours d&rsquo;EDU<em>lib</em>, il suffit de cr&eacute;er un compte puis d&rsquo;ouvrir une session. Vous pourrez ensuite vous inscrire au cours de votre choix parmi la liste de cours disponibles.</p>

<h4>Comment serai-je &eacute;valu&eacute;?</h4>
<p>Les modes d&rsquo;&eacute;valuation peuvent changer d&rsquo;un cours &agrave; l&rsquo;autre mais en r&egrave;gle g&eacute;n&eacute;rale vous aurez &agrave; r&eacute;pondre &agrave; un quiz par semaine et &agrave; passer un examen final.</p>

<h4>Vais-je pouvoir contribuer au cours?</h4>
<p>Un forum de discussion sera disponible dans tous les cours. Vous pourrez alors facilement partager vos commentaires et r&eacute;flexions avec les autres participants, &eacute;videmment tout en respectant les r&egrave;gles &eacute;nonc&eacute;es dans le document <a href="${marketing_link('TOS')}">Conditions d&rsquo;utilisation</a>.</p>

<h4>Serai-je anonyme?</h4>
<p>Non. Toutes vos interventions porteront votre identification.</p>
</section>
