<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<section class="container activation">

  <section class="message">
    <h1 class="invalid">${_("Activation invalide")}</h1>
    <hr class="horizontal-divider">

    <p>${_('Quelque chose s&#8217;est mal produit. V&eacute;rifiez que l&#8217;URL que vous '
           'avez cliqu&eacute; &eacute;tait correcte -- certaines applications de courriel peuvent couper les '
           'URLs. Si vous &eacute;prouvez toujours des difficult&eacute;s, &eacute;crivez-nous pour nous dire ce qui '
           's&#8217;est pass&eacute; &agrave; l&#8217;adresse '
           '{email}.').format(email='<a href="mailto:{email}">{email}</a>'.format(email=settings.BUGS_EMAIL))}</p>

    <p>${_('Vous pouvez aussi retourner &agrave; {link_start}la page d&#8217;accueil{link_end}.').format(link_start='<a href="/">', link_end='</a>')}</p>
  </section>
</section>
