<%! from django.utils.translation import ugettext as _ %>
<%inherit file="base.html" />
<%block name="title">${_("Studio Server Error")}</%block>
<%block name="bodyclass">view-util util-500</%block>

<%block name="content">
<div class="wrapper-content wrapper">
  <section class="content">
    <header>
      <h1 class="title title-1">${_("The <em>Studio</em> servers encountered an error")}</h1>
    </header>
    <article class="content-primary" role="main">
      <p>${_("Une erreur est survenue dans Studio et la page n&#8217;a pu &ecirc;tre charg&eacute;e. Veuillez essayer de nouveau dans quelques instants.")}
        ${_("Nous avons pris note de cette erreur et notre &eacute;quipe travaille d&egrave;s maintenant &agrave; corriger ce probl&egrave;me aussit&ocirc;t que possible.")}
        ${_('Si le probl&egrave;me persiste, veuillez nous contacter &agrave; l&#8217;adresse {email_link}.').format(
              email_link=u'<a href="mailto:{email_address}">{email_address}</a>'.format(
                  email_address=settings.TECH_SUPPORT_EMAIL,
              )
          )}
      </p>
    </article>
  </section>
</div>
</%block>
