## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%inherit file="/navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <img src="${static.url('themes/default/images/edulib_logo.png')}" height="50" alt="${settings.PLATFORM_NAME}" />
</%block>

<%block name="navigation_global_links">
    <li class="nav-global-01">
    	<a href="${marketing_link('FAQ')}">${_("FAQ")}</a>
    </li>
    <li class="nav-global-02">
 		<a href="${marketing_link('COURSES')}">${_("Courses")}</a>
    </li>
	<li class="nav-global-03">
    	<a href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
	</li>
</%block>

